.btn-circle {
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    
    &.btn-md {
        font-size: 2em;
        width: 50px;
        height: 50px;
    }
}