.main-menu {
    @include list-unstyled();
    li {
        padding: 5px 10px;
        a {
            color: $link-color;
            font-size: 3em;
            font-weight: 300;
            &:hover, &:active, &:focus {
                text-decoration: none;
            }
        }
        &:hover {
            background-color: $link-color;
            
            a {
                color: #FFF;
            }
        }
    }
}

.social-menu {
    @include list-unstyled();
    
    li {
        display: inline;
        
        &:not(:first-child) {
            margin-left: 5px;
        }
        
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}