<div class="project-container">
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
    <div class="project">
        <img class="img-responsive max-width" src="https://placehold.it/500x500/">
    </div>
</div>