#sidebar {
    width: 100%;
    left: 100%;
    background-color: $sidebar-bg;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: left .2s ease-out;
    
    .author {
        margin-top: 50px;
    }
    
    .main-menu {
        flex-grow: 1;
        margin-top: 50px;
    }

    .social-menu {
        margin-bottom: 50px;
    }
}